<div class="task-form">
  <h2>{{ newTask.isEditing !== true ? 'Edit Task' : 'Add New Task'}}</h2>
  <div>
    <input [(ngModel)]="newTask.task.title" placeholder="Title" required>
  </div>
  <div>
    <textarea [(ngModel)]="newTask.task.description" placeholder="Description"></textarea>
  </div>
  <div class="actions">
    <button (click)="addOrUpdateTask()">{{ newTask.isEditing == true ? 'Save' : 'Add' }}</button>
    <button *ngIf="newTask.isEditing !== false" (click)="cancelEdit()">Cancel</button>
  </div>
</div>